<launch>
    <node name="video_publisher" pkg="thesis" type="video_publisher">
        <param name="video_path" value="/home/trung/Desktop/c++/videos/test_video_640x640.mp4" />
        <param name="fps" value="35.0" />
    </node>
    <node pkg="thesis" type="video_subscriber" name="video_subscriber">
        <remap from="image" to="/video/image" />
        <param name="model_path" value="/home/trung/catkin_ws/src/thesis/release/30-06.engine" />
    </node>
</launch>
